=begin
#Togai Apis

#APIs for Togai App

The version of the OpenAPI document: 1.0
Contact: engg@togai.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module TogaiClient
  class CustomerPortalApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get delegate token for customer portal
    # Get delegate token for customer portal
    # @param get_customer_portal_delegate_token_request [GetCustomerPortalDelegateTokenRequest] Payload to get delegate token for customer portal
    # @param [Hash] opts the optional parameters
    # @return [TokenResponse]
    def get_customer_portal_delegate_token(get_customer_portal_delegate_token_request, opts = {})
      data, _status_code, _headers = get_customer_portal_delegate_token_with_http_info(get_customer_portal_delegate_token_request, opts)
      data
    end

    # Get delegate token for customer portal
    # Get delegate token for customer portal
    # @param get_customer_portal_delegate_token_request [GetCustomerPortalDelegateTokenRequest] Payload to get delegate token for customer portal
    # @param [Hash] opts the optional parameters
    # @return [Array<(TokenResponse, Integer, Hash)>] TokenResponse data, response status code and response headers
    def get_customer_portal_delegate_token_with_http_info(get_customer_portal_delegate_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerPortalApi.get_customer_portal_delegate_token ...'
      end
      # verify the required parameter 'get_customer_portal_delegate_token_request' is set
      if @api_client.config.client_side_validation && get_customer_portal_delegate_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_customer_portal_delegate_token_request' when calling CustomerPortalApi.get_customer_portal_delegate_token"
      end
      # resource path
      local_var_path = '/portal/token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_customer_portal_delegate_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CustomerPortalApi.get_customer_portal_delegate_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerPortalApi#get_customer_portal_delegate_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
