=begin
#Togai Apis

#APIs for Togai App

The version of the OpenAPI document: 1.0
Contact: engg@togai.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module TogaiClient
  class EventManagementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Correct an ingested event
    # #### This API lets you to correct events. Available in both synchronous and asynchronous mode - **Usages**: Reduction of all usages associated with this event - **Revenue**: Reduction of all revenues associated with this event - **Entitlements**: Entitlements(Feature Credits) consumed by this event are granted back to the account.  ### Possible Actions: - UNDO: Undo all usages, revenue and entitlements associated with an event - REDO: Performs UNDO and re-ingests the same event - REDO_EVENT: Performs UNDO and re-ingests the correction payload of the event 
    # @param action [String] Action to perform in event correction
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :require_confirmation Specifies whether to start a migration only after a confirmation
    # @option opts [EventCorrectionRequest] :event_correction_request 
    # @return [EventsCorrectionResponse]
    def event_correction(action, opts = {})
      data, _status_code, _headers = event_correction_with_http_info(action, opts)
      data
    end

    # Correct an ingested event
    # #### This API lets you to correct events. Available in both synchronous and asynchronous mode - **Usages**: Reduction of all usages associated with this event - **Revenue**: Reduction of all revenues associated with this event - **Entitlements**: Entitlements(Feature Credits) consumed by this event are granted back to the account.  ### Possible Actions: - UNDO: Undo all usages, revenue and entitlements associated with an event - REDO: Performs UNDO and re-ingests the same event - REDO_EVENT: Performs UNDO and re-ingests the correction payload of the event 
    # @param action [String] Action to perform in event correction
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :require_confirmation Specifies whether to start a migration only after a confirmation
    # @option opts [EventCorrectionRequest] :event_correction_request 
    # @return [Array<(EventsCorrectionResponse, Integer, Hash)>] EventsCorrectionResponse data, response status code and response headers
    def event_correction_with_http_info(action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventManagementApi.event_correction ...'
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling EventManagementApi.event_correction"
      end
      # verify enum value
      allowable_values = ["UNDO", "REDO", "REDO_EVENT"]
      if @api_client.config.client_side_validation && !allowable_values.include?(action)
        fail ArgumentError, "invalid value for \"action\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/events/correction'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'action'] = action
      query_params[:'require_confirmation'] = opts[:'require_confirmation'] if !opts[:'require_confirmation'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'event_correction_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EventsCorrectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EventManagementApi.event_correction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventManagementApi#event_correction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of usage events with multiple query options
    # This API let’s you to fetch a list of events with multiple query parameters
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_token Pagination token used as a marker to get records from next page.
    # @option opts [String] :status Filter option to filter by status.
    # @option opts [String] :account_id Filter option to filter based on account id.
    # @option opts [String] :schema_name Filter option to filter the events based on schema name.
    # @option opts [Integer] :page_size Maximum page size expected by client to return the record list.    NOTE: Max page size cannot be more than 50. Also 50 is the default page size if no value is provided.
    # @return [GetEventsResponse]
    def get_events(opts = {})
      data, _status_code, _headers = get_events_with_http_info(opts)
      data
    end

    # Get a list of usage events with multiple query options
    # This API let’s you to fetch a list of events with multiple query parameters
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_token Pagination token used as a marker to get records from next page.
    # @option opts [String] :status Filter option to filter by status.
    # @option opts [String] :account_id Filter option to filter based on account id.
    # @option opts [String] :schema_name Filter option to filter the events based on schema name.
    # @option opts [Integer] :page_size Maximum page size expected by client to return the record list.    NOTE: Max page size cannot be more than 50. Also 50 is the default page size if no value is provided.
    # @return [Array<(GetEventsResponse, Integer, Hash)>] GetEventsResponse data, response status code and response headers
    def get_events_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventManagementApi.get_events ...'
      end
      # resource path
      local_var_path = '/events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'nextToken'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'schema_name'] = opts[:'schema_name'] if !opts[:'schema_name'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EventManagementApi.get_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventManagementApi#get_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an event using event id
    # Fetch details of a particular event using the event ID.
    # @param event_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetEventResponse]
    def get_single_event(event_id, opts = {})
      data, _status_code, _headers = get_single_event_with_http_info(event_id, opts)
      data
    end

    # Get an event using event id
    # Fetch details of a particular event using the event ID.
    # @param event_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEventResponse, Integer, Hash)>] GetEventResponse data, response status code and response headers
    def get_single_event_with_http_info(event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventManagementApi.get_single_event ...'
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventManagementApi.get_single_event"
      end
      if @api_client.config.client_side_validation && event_id.to_s.length > 50
        fail ArgumentError, 'invalid value for "event_id" when calling EventManagementApi.get_single_event, the character length must be smaller than or equal to 50.'
      end

      # resource path
      local_var_path = '/events/{event_id}'.sub('{' + 'event_id' + '}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EventManagementApi.get_single_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventManagementApi#get_single_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
