=begin
#Togai Apis

#APIs for Togai App

The version of the OpenAPI document: 1.0
Contact: engg@togai.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module TogaiClient
  class UsageMetersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activate usage meter
    # Activate usage meter
    # @param usage_meter_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UsageMeter]
    def activate_usage_meter(usage_meter_id, opts = {})
      data, _status_code, _headers = activate_usage_meter_with_http_info(usage_meter_id, opts)
      data
    end

    # Activate usage meter
    # Activate usage meter
    # @param usage_meter_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UsageMeter, Integer, Hash)>] UsageMeter data, response status code and response headers
    def activate_usage_meter_with_http_info(usage_meter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageMetersApi.activate_usage_meter ...'
      end
      # verify the required parameter 'usage_meter_id' is set
      if @api_client.config.client_side_validation && usage_meter_id.nil?
        fail ArgumentError, "Missing the required parameter 'usage_meter_id' when calling UsageMetersApi.activate_usage_meter"
      end
      if @api_client.config.client_side_validation && usage_meter_id.to_s.length > 50
        fail ArgumentError, 'invalid value for "usage_meter_id" when calling UsageMetersApi.activate_usage_meter, the character length must be smaller than or equal to 50.'
      end

      # resource path
      local_var_path = '/usage_meters/{usage_meter_id}/activate'.sub('{' + 'usage_meter_id' + '}', CGI.escape(usage_meter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsageMeter'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UsageMetersApi.activate_usage_meter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageMetersApi#activate_usage_meter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an usage meter
    # Create an usage meter and associate with an event schema
    # @param create_usage_meter_request [CreateUsageMeterRequest] Payload to create usage meter
    # @param [Hash] opts the optional parameters
    # @return [UsageMeter]
    def create_usage_meter(create_usage_meter_request, opts = {})
      data, _status_code, _headers = create_usage_meter_with_http_info(create_usage_meter_request, opts)
      data
    end

    # Create an usage meter
    # Create an usage meter and associate with an event schema
    # @param create_usage_meter_request [CreateUsageMeterRequest] Payload to create usage meter
    # @param [Hash] opts the optional parameters
    # @return [Array<(UsageMeter, Integer, Hash)>] UsageMeter data, response status code and response headers
    def create_usage_meter_with_http_info(create_usage_meter_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageMetersApi.create_usage_meter ...'
      end
      # verify the required parameter 'create_usage_meter_request' is set
      if @api_client.config.client_side_validation && create_usage_meter_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_usage_meter_request' when calling UsageMetersApi.create_usage_meter"
      end
      # resource path
      local_var_path = '/usage_meters'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_usage_meter_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UsageMeter'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UsageMetersApi.create_usage_meter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageMetersApi#create_usage_meter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deactivate usage meter
    # Make an existing active usage meter to be inactive Active Usage Meters with active Pricing Plan attached can also be deactivated. 
    # @param usage_meter_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UsageMeter]
    def deactivate_usage_meter(usage_meter_id, opts = {})
      data, _status_code, _headers = deactivate_usage_meter_with_http_info(usage_meter_id, opts)
      data
    end

    # Deactivate usage meter
    # Make an existing active usage meter to be inactive Active Usage Meters with active Pricing Plan attached can also be deactivated. 
    # @param usage_meter_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UsageMeter, Integer, Hash)>] UsageMeter data, response status code and response headers
    def deactivate_usage_meter_with_http_info(usage_meter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageMetersApi.deactivate_usage_meter ...'
      end
      # verify the required parameter 'usage_meter_id' is set
      if @api_client.config.client_side_validation && usage_meter_id.nil?
        fail ArgumentError, "Missing the required parameter 'usage_meter_id' when calling UsageMetersApi.deactivate_usage_meter"
      end
      if @api_client.config.client_side_validation && usage_meter_id.to_s.length > 50
        fail ArgumentError, 'invalid value for "usage_meter_id" when calling UsageMetersApi.deactivate_usage_meter, the character length must be smaller than or equal to 50.'
      end

      # resource path
      local_var_path = '/usage_meters/{usage_meter_id}/deactivate'.sub('{' + 'usage_meter_id' + '}', CGI.escape(usage_meter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsageMeter'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UsageMetersApi.deactivate_usage_meter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageMetersApi#deactivate_usage_meter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an Usage Meter
    # Delete an Usage Meter
    # @param usage_meter_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BaseSuccessResponse]
    def delete_usage_meter(usage_meter_id, opts = {})
      data, _status_code, _headers = delete_usage_meter_with_http_info(usage_meter_id, opts)
      data
    end

    # Delete an Usage Meter
    # Delete an Usage Meter
    # @param usage_meter_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseSuccessResponse, Integer, Hash)>] BaseSuccessResponse data, response status code and response headers
    def delete_usage_meter_with_http_info(usage_meter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageMetersApi.delete_usage_meter ...'
      end
      # verify the required parameter 'usage_meter_id' is set
      if @api_client.config.client_side_validation && usage_meter_id.nil?
        fail ArgumentError, "Missing the required parameter 'usage_meter_id' when calling UsageMetersApi.delete_usage_meter"
      end
      if @api_client.config.client_side_validation && usage_meter_id.to_s.length > 50
        fail ArgumentError, 'invalid value for "usage_meter_id" when calling UsageMetersApi.delete_usage_meter, the character length must be smaller than or equal to 50.'
      end

      # resource path
      local_var_path = '/usage_meters/{usage_meter_id}'.sub('{' + 'usage_meter_id' + '}', CGI.escape(usage_meter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BaseSuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UsageMetersApi.delete_usage_meter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageMetersApi#delete_usage_meter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get usage meter
    # Get an usage meter using event schema name and usage meter id.
    # @param usage_meter_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_schema 
    # @return [UsageMeter]
    def get_usage_meter(usage_meter_id, opts = {})
      data, _status_code, _headers = get_usage_meter_with_http_info(usage_meter_id, opts)
      data
    end

    # Get usage meter
    # Get an usage meter using event schema name and usage meter id.
    # @param usage_meter_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_schema 
    # @return [Array<(UsageMeter, Integer, Hash)>] UsageMeter data, response status code and response headers
    def get_usage_meter_with_http_info(usage_meter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageMetersApi.get_usage_meter ...'
      end
      # verify the required parameter 'usage_meter_id' is set
      if @api_client.config.client_side_validation && usage_meter_id.nil?
        fail ArgumentError, "Missing the required parameter 'usage_meter_id' when calling UsageMetersApi.get_usage_meter"
      end
      if @api_client.config.client_side_validation && usage_meter_id.to_s.length > 50
        fail ArgumentError, 'invalid value for "usage_meter_id" when calling UsageMetersApi.get_usage_meter, the character length must be smaller than or equal to 50.'
      end

      # resource path
      local_var_path = '/usage_meters/{usage_meter_id}'.sub('{' + 'usage_meter_id' + '}', CGI.escape(usage_meter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeSchema'] = opts[:'include_schema'] if !opts[:'include_schema'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsageMeter'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UsageMetersApi.get_usage_meter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageMetersApi#get_usage_meter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List usage meters for event schema
    # Get a list of usage meters associated with an event schema
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by status 
    # @option opts [String] :aggregations Filter by aggregations 
    # @option opts [String] :next_token 
    # @option opts [Float] :page_size 
    # @return [UsageMeterPaginatedResponse]
    def get_usage_meters_for_event_schema(opts = {})
      data, _status_code, _headers = get_usage_meters_for_event_schema_with_http_info(opts)
      data
    end

    # List usage meters for event schema
    # Get a list of usage meters associated with an event schema
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by status 
    # @option opts [String] :aggregations Filter by aggregations 
    # @option opts [String] :next_token 
    # @option opts [Float] :page_size 
    # @return [Array<(UsageMeterPaginatedResponse, Integer, Hash)>] UsageMeterPaginatedResponse data, response status code and response headers
    def get_usage_meters_for_event_schema_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageMetersApi.get_usage_meters_for_event_schema ...'
      end
      allowable_values = ["ACTIVE", "INACTIVE"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["COUNT", "SUM"]
      if @api_client.config.client_side_validation && opts[:'aggregations'] && !allowable_values.include?(opts[:'aggregations'])
        fail ArgumentError, "invalid value for \"aggregations\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/usage_meters'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'aggregations'] = opts[:'aggregations'] if !opts[:'aggregations'].nil?
      query_params[:'nextToken'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsageMeterPaginatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UsageMetersApi.get_usage_meters_for_event_schema",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageMetersApi#get_usage_meters_for_event_schema\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an usage meter
    # This API lets you update an existing usage meter.
    # @param usage_meter_id [String] 
    # @param update_usage_meter_request [UpdateUsageMeterRequest] Payload to create usage meter
    # @param [Hash] opts the optional parameters
    # @return [UsageMeter]
    def update_usage_meter(usage_meter_id, update_usage_meter_request, opts = {})
      data, _status_code, _headers = update_usage_meter_with_http_info(usage_meter_id, update_usage_meter_request, opts)
      data
    end

    # Update an usage meter
    # This API lets you update an existing usage meter.
    # @param usage_meter_id [String] 
    # @param update_usage_meter_request [UpdateUsageMeterRequest] Payload to create usage meter
    # @param [Hash] opts the optional parameters
    # @return [Array<(UsageMeter, Integer, Hash)>] UsageMeter data, response status code and response headers
    def update_usage_meter_with_http_info(usage_meter_id, update_usage_meter_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageMetersApi.update_usage_meter ...'
      end
      # verify the required parameter 'usage_meter_id' is set
      if @api_client.config.client_side_validation && usage_meter_id.nil?
        fail ArgumentError, "Missing the required parameter 'usage_meter_id' when calling UsageMetersApi.update_usage_meter"
      end
      if @api_client.config.client_side_validation && usage_meter_id.to_s.length > 50
        fail ArgumentError, 'invalid value for "usage_meter_id" when calling UsageMetersApi.update_usage_meter, the character length must be smaller than or equal to 50.'
      end

      # verify the required parameter 'update_usage_meter_request' is set
      if @api_client.config.client_side_validation && update_usage_meter_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_usage_meter_request' when calling UsageMetersApi.update_usage_meter"
      end
      # resource path
      local_var_path = '/usage_meters/{usage_meter_id}'.sub('{' + 'usage_meter_id' + '}', CGI.escape(usage_meter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_usage_meter_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UsageMeter'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UsageMetersApi.update_usage_meter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageMetersApi#update_usage_meter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
